main{
    margin:50px 100px;
}
div{
    height: 25px;
    width: 105px;
    border: 3px solid rgb(250, 8, 77);
    padding: 30px;
    text-align: center;
    font-family: 'Chivo Mono', monospace;
    font-size: medium;    
}
.color1{
    background: yellow;
    transition: width 1s, height 1s, transform 1s;
    color: rgb(61, 9, 122);
}
.color2{
    background: blue;
    transition: width 1s, height 1s, transform 1s;
    color: rgb(201, 196, 207);
}
.color3{
    background: red;
    transition: width 1s, height 1s, transform 1s;
    color: rgb(243, 240, 246);
}
.color4{
    background: rgb(0, 0, 0);
    transition: width 1s, height 1s, transform 1s;
    color: rgb(243, 240, 246);
}
.color5{
    background: #ffffff;
    transition: width 1s, height 1s, transform 1s;
    color: rgb(0, 0, 0);
}
.color6{
    background: hsl(209, 70%, 38%);
    transition: width 1s, height 1s, transform 1s;
    color: #ffffff;
}
.color7{
    background: hsla(9, 100%, 64%, 0.2);
    transition: width 1s, height 1s, transform 1s;
    color: rgb(0, 0, 0);
}
div:hover{
    height: 65px;
    width: 100%;  
    font-size: xx-large;  
    border: 3px dashed rgb(42, 10, 10);
}